.tab {
    overflow: hidden;
    border: 30px solid #4169e1; /* royal blue */
    background-color: #4169e1;
}

.spacing {
	margin-bottom: 10px;  
}

/* Received from https://css-tricks.com/snippets/css/typewriter-effect/ */
.introduction {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .01em solid orange; /* The typwriter cursor in orange */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	typing 7s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.header {
	color: black; 
}

.subheading {
	color: #91092F;  /* Chicago maroon colour */
	font-weight: bold; 
	text-align: center; 
}

.aboutMe {
	padding-top: 10px; 
	padding-bottom: 30px; 
	text-align: justify; 

}

.resume {
	background-color: #4169e1; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.project1 {
	text-align: justify; 
}

.project2 {
	padding-top: 30px; 
	text-align: justify; 
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Displays arrow */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 20px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    background-color: #4169e1; /* Arrow color */
    color: #FFFFFF; /* Arrow background is teal blue */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.1px;
    border-radius: 10px; /* Rounded corners */
    font-size: 20px;
}

#myBtn:hover {
     background-color: white; /* Adds a white background on hover */
}

.contact {
	color: #4169e1; 
	font-weight: bold; 
	outline: 5px solid #4169e1; 
	background-color: black; 
}

.linkedin {
	transition: transform .2s; /* Animation */
}

.linkedin:hover {
	 transform: scale(1.5);
}

.github {
	transition: transform .2s; /* Animation */

}

.github:hover {
	 transform: scale(1.5);
}

.email {
	transition: transform .2s; /* Animation */
}

.email:hover {
	 transform: scale(1.5);
}