.tab {
    overflow: hidden;
    border: 30px solid #4169e1; /* royal blue */
    background-color: #4169e1;
}

.subheading {
	color: #800000;  /* maroon colour */
	text-align: center; 
}

.aboutMe {
	padding-top: 10px; 
	padding-bottom: 30px; 
	text-align: justify; 

}

.resume {
	background-color: #4169e1; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.project1 {
	text-align: justify; 
}

.project2 {
	padding-top: 30px; 
	text-align: justify; 
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Displays arrow */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 20px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    background-color: white; /* Arrow color */
    color: rgb(68,138,255); /* Arrow background is teal blue */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.1px;
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; 
}

#myBtn:hover {
     background-color: white; /* Adds a white background on hover */
}

.contact {
	outline: 5px solid #4169e1; 
	background-color: lightblue; 
}