.tab {
    overflow: hidden;
    border: 30px solid #4169e1; /* royal blue */
    background-color: #4169e1;
}

.spacing {
	margin-bottom: 10px;  
}

.introduction {
	background-image: url("image/hongkonggif.gif");
	opacity: 0.7; 
	background-repeat: no-repeat; 
	background-position: center; 
	padding-top: 50px; 
	padding-bottom: 50px;
	background-size: 1400px;
}

.subheading {
	color: white;  /* white colour */
	outline: black; 
	text-align: center; 
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header {
	color: white; 
	text-shadow: /* outlines text in black */
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.aboutMe {
	padding-top: 10px; 
	padding-bottom: 30px; 
	text-align: justify; 

}

.resume {
	background-color: #4169e1; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.project1 {
	text-align: justify; 
}

.project2 {
	padding-top: 30px; 
	text-align: justify; 
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Displays arrow */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 20px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    background-color: #4169e1; /* Arrow color */
    color: #FFFFFF; /* Arrow background is teal blue */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.1px;
    border-radius: 10px; /* Rounded corners */
    font-size: 20px;
}

#myBtn:hover {
     background-color: white; /* Adds a white background on hover */
}

.contact {
	color: #4169e1; 
	font-weight: bold; 
	outline: 5px solid #4169e1; 
	background-color: black; 
}

.linkedin {
	transition: transform .2s; /* Animation */
}

.linkedin:hover {
	 transform: scale(1.5);
}

.github {
	transition: transform .2s; /* Animation */

}

.github:hover {
	 transform: scale(1.5);
}

.email {
	transition: transform .2s; /* Animation */
}

.email:hover {
	 transform: scale(1.5);
}